<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Appointment Bills</title>
</head>
<body>
<p>Appointment Bills</p>
<div>
    <p>Dear <span th:text="${appointment.customerName}"></span></p>
    <p> Thanks for your booking an appointment with us.</p>
</div>

<div>
    <h2>Appointment Details</h2>
    <p><strong>Service</strong> <span th:text="${appointment.service.serviceName}"></span></p>
    <p><strong>Veterinarian</strong> <span
            th:text="|${appointment.veterinarian.firstName} ${appointment.veterinarian.lastName}|"></span></p>
    <p><strong>Appointment Date:</strong> <span th:text="${appointment.timeSlot.date}"></span></p>
    <p><strong>Time:</strong> <span th:text="${appointment.timeSlot.startTime}"></span> - <span
            th:text="${appointment.timeSlot.endTime}"></span></p>
</div>

<div>
    <h2>Customer Details</h2>
    <p><strong>Phone Number:</strong> <span th:text="${appointment.phoneNumber}"></span></p>
    <p><strong>Email:</strong> <span th:text="${appointment.email}"></span></p>
    <p><strong>Address:</strong> <span th:text="${appointment.address.fullAddress}"></span></p>
</div>

<div>
    <h2>Appointment Summary</h2>
    <p><strong>Current Status:</strong> <span th:text="${appointment.currentStatus}"></span></p>
    <p><strong>Total Price:</strong> <span th:text="${appointment.totalPrice}"></span></p>
    <p><strong>Moving Surcharge:</strong> <span th:text="${appointment.movingSurcharge.amount}"></span></p>
    <p><strong>Description:</strong> <span th:text="${appointment.description}"></span></p>
</div>

<!-- Fish details, only displayed if fish object is not null -->
<div th:if="${appointment.fish != null}">
    <h2>Fish Details</h2>
    <p><strong>Fish Species:</strong> <span th:text="${appointment.fish.species}"></span></p>
    <p><strong>Fish Size:</strong> <span th:text="${appointment.fish.size}"></span></p>
</div>

<p>Thank you for choosing us! Willing to serve you for your appointment</p>
</body>
</html>