<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Appointment Cancel</title>
</head>
<body>
<div>
    <p>Dear, <b th:text="|${customer.firstName} ${customer.lastName}|"></b></p>
    <p>Thanks for your caring. Hopefully being severed for you later !!</p>
</div>
</body>
</html>